<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="\Magento\Framework\Mail\Template\TransportBuilder" type="Bluethinkinc\LowStockNotification\Mail\Template\TransportBuilder" />
    <type name="Magento\Framework\Console\CommandList">
       <arguments>
           <argument name="commands" xsi:type="array">
               <item name="lowstocknotification_commnad" xsi:type="object">Bluethinkinc\LowStockNotification\Console\Bluethink</item>
           </argument>
       </arguments>
   </type>
</config>